*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$BackgroundHeader: rgb(247, 247, 247);
$BackgroundJumbo: black;
$BackgroundIcons: rgb(0, 48, 236);
$BackgroundFooterTop: url(../assets/footer-bg.jpg);